@charset "utf-8";
/* CSS Document */

.container {
	width:1069px;
}
/*-----------------------------------header starts-------------------------------*/
.header {
	background-color: #594e4e;
	padding: 31px 30px 10px 30px;
}
.logo {
	margin-bottom: 51px;
}
.navigation {
	background-color: #a49191;
	float: left;
}
.slider {
	margin-top: -1px;
	background-color: red;
	padding: 17px 30px 13px 30px;
}
/*------------------------------------main part---------------------------------*/
.main {
	min-height: 634px;
	background-color: white;
	border-bottom: 1px solid b2b2b2;
	padding: 24px 30px 0px 30px;
}
.contains-leftright{
	padding: 0px 6px 0px 22px;}
.left-content {
	width: 540px;
	float: left;
}
.right-content {
	float:right;
	width:280px;
}

/*----------------------------------------------footer------------------------------*/
.footer{
	border-top:1px solid #b2b2b2;

}
.footer-glasstype {
	color: black;
	background: url(../images/background-slice.png);
	min-height: 242px;
	padding: 38px 30px 40px 58px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.footer-nav {
	padding: 4px 30px 6px 58px;
	height: 20px;
}
.footer-main {
	padding: 17px 20px 0px 69px;
	background: url(../images/footer-bg.png) repeat-x 0px 0px;
	min-height: 369px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.footer-main-nav {
	float: right;
	width: 810px;
}
.country {
	float: left;
}
